{% extends 'base.html.twig' %}
{% block body %}
    <h1>Commande validée</h1>
    <div class="mx-auto mt-5" style="text-align: center">
        <h4>Le paiement de {{ total }}€ doit être effectué à cette adresse. Merci beaucoup !</h4>
        <p>ISI4WEBSHOP Inc.</p>
        <p>1, Champs Elysées</p>
        <p>75000, Paris, FR</p>
    </div>
{% endblock %}